<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">User</h5>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Bounce Rate</h5>
        <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>14.7%</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Conversion Rate</h5>
        <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12.7%</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <table align="center">
    <tr>
      <td colSpan=2>
        <div id="chart_div" style="align: center; width: 900px; height: 200;">{% include 'charts/example_funnel.html' %}</div>
      </td>
    </tr>
  </table>
</div>
</br>
</br>
<div class="row">
  <table align="center">   
    <tr valign="top">
      <td style="width: 50%;">
        <div id="chart-area" style="width: 450px; height: 200;">{% include 'charts/example_graph1.html' %}</div>
      </td>
      <td style="width: 50%;">
        <div id="chart-area" style="width: 450px; height: 200;">{% include 'charts/example_graph2.html' %}</div>
      </td>
    </tr>
  </table>
</div>

