<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Dashboard {% block title %}{% endblock %}
  </title>

  <!--     Fonts and icons     -->
  <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">
  <div class="wrapper">

    {% include 'base/sidebar.html' %}

    <div class="main-panel">

      {% include 'base/navigation.html' %}

      <div class="content">
        {% include 'base/table.html' %}
        {% block content %}{% endblock content %}
      </div>

      {% include 'base/footer.html' %}

    </div>
    
  </div>

</body>

</html>
